
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1e5089;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00bcd4;
}

.landing-page {
  background: linear-gradient(to right, #7ad5da, #4875c4);
  color: white;
  text-align: center;
  padding: 15% 25%;
}
.landing-page-content h1 {
  font-size: 350%;
  margin-bottom: 10%
}
.landing-page-content p {
  font-size: 150%;
  margin-bottom: 10%;
}
.hero {
  background: linear-gradient(to right, #44721e, #2a5298);
  color: white;
  text-align: center;
  padding: 120px 20px; 
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-primary {
  background-color: white;
  color: #3d65aa;
}

.btn-secondary {
  border: 2px solid white;
  color: white;
}

.btn-primary:hover {
  background-color: #f0f0f0;
}

.btn-secondary:hover {
  background-color: white;
  color: #6b8cc6;
}
/* HERO2 */
.hero-secondary {
  background: #f5f7fa;
  padding: 100px 20px;
  text-align: center;
}

.hero-secondary-content {
  max-width: 900px;
  margin: 0 auto;
}

.hero-secondary h2 {
  font-size: 46px;
  margin-bottom: 20px;
  color: #1e3c72;
}

.hero-secondary p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555;
}
.hero-button {
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center; 
  padding: 12px 28px;
  border: 2px #5a83ca;
  color: #6b8cc6;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  overflow: hidden;
  transition: color 0.5s ease;
  z-index: 1;
}
.hero-button:hover::before {
  left: 0;
}
.hero-button:hover {
  color :rgb(26, 88, 143);
}
.dog-image {
  width: 10%;
  margin-top: 40%;
}
.features {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(17, 17, 17);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgb(255, 255, 255);
}

.card h3 {
  margin-bottom: 15px;
}

.card p {
  color: #555;
}